certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
docker==7.1.0
idna==3.10
linkify-it-py==2.0.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
packaging==24.2
platformdirs==4.3.6
Pygments==2.18.0
readchar==4.2.1
requests==2.32.3
rich==13.9.4
setuptools==75.6.0
shellingham==1.5.4
six==1.17.0
textual==1.0.0
typer==0.15.1
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.3.0
websocket-client==1.8.0
